<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="./css/styles.css">
        <title>G-Port</title>
    </head>

    <body>
        <button onclick="window.location.href = '/' "class="back">Home</button>
    <hr>
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search..." required>
            <select name="category" required>
                <option value="works">Works</option>
                <option value="outputs">Outputs</option>
                <option value="data-providers">Data Providers</option>
                <option value="journals">Journals</option>
            </select>
            <button type="submit">Search</button>
        </form>
      
        <div class="response-area">
          <% if (papers && papers.length > 0) { %>
              <% papers.forEach(paper => { %>
                  <div class="title-border">
                      <p><%= paper.title %></p>
                      <p class="subjects"><%= paper.subjects.join(", ") %></p>
                      <a href="/more?issn=<%= paper.issn %>" target="_blank" class="view-journal-button">View journal</a>
                  </div>
              <% }) %>
          <% } else { %>
            <p>No results found. Please try a different search.</p>
          <% } %>
      </div>
      </body>
      <footer>
        <div class="citation">
          <h3>Citation</h3>
          <p>Knoth, P., Herrmannova, D., Cancellieri, M. et al. CORE: A Global Aggregation Service for Open Access Papers. Nature Scientific Data 10, 366 (2023). <a href="https://doi.org/10.1038/s41597-023-02208-w">https://doi.org/10.1038/s41597-023-02208-w</a></p>
        </div>
      </footer>
